html {
    height: 100%;
}
body {
    min-height: 100%;
}


nav {
    align-items: center;
    margin: 0;
    height: 50px;
    position:fixed;
}
.navbar-brand {
    width: 118px;
}
.navbar-stuff {
    max-height: 50px;
}

#toolbar {
    grid-area: sidebar;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 150px;
    margin: 0;
    /* background-color: #484F56; */
}
/* .toolbar-list {
    height: 100%;
} */
.toolbar-item {
    background-color: #484F56;
    color:whitesmoke;
    /* color: whitesmoke; */
    border-color: grey;
    font-size: 0.9em;
    padding-right: 15;
    /* cursor: pointer; */
}
.toolbar-item:hover {
    background-color: #64696F;
    color: whitesmoke;
}
.space-waster {
    height: 100%;
    padding-top:0;
    padding-bottom: auto;
    background-color: #484F56;

}
/* .toolbar-item a {
    color: whitesmoke;
} */

#content {
    grid-area: main;
    margin: 0 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#home {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#home-left {
    max-width: 50%;
}
#home-right {
    max-width: 50%;
}

#file-upload {
    display: none;
}

#loading-new-map {
    display: none;
    margin-top: 40px;
}

#image-view-tree {
    text-align: right;

}

#map-name-input {
    display: none;
}

#map-save-modal {
    margin-top: 100px;
}

.map-data-title {
    vertical-align: super;
}

.map-list-image {
    /* max-width: 128px; */
    height: 160px;
}

.media-body {
    vertical-align: middle;
}

.border-lightgrey {
    border-color: lightslategray;
    margin: 30px auto;
    padding-right: 30px;
    max-width: 1000px;
}

#back-button {
    padding-top: 10px;
    padding-left: 5px;
    position: fixed;
}
#back-icon {
    background: url(images/back_arrow.svg) no-repeat;
}

#user-maps-list {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#image-sidebar {
    max-width: 80px;
}


#g-map-frame {
    margin-bottom: 20px;
    max-width: 100%;    
}


.flexyflex {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main";
    margin-top: 50px;
    padding-right: 20px;
    min-height: 100%;

}
