#content {
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#file-upload {
    display: none;
}

#loading-new-map {
    display: none;
    margin-top: 40px;
}

#image-view-tree {
    text-align: right;

}

/* #map-save-modal {
    display: none;
}
*/

#map-name-input {
    display: none;
}

#map-save-modal {
    margin-top: 100px;
}

.map-data-title {
    vertical-align: super;
}
