* {
    margin-bottom: 20px;
}
#content {
    max-width: 100%;
    margin: 0 20px;
    margin-top: 40px;
    display: block;
    justify-content: center;
    text-align: center;
}

#file-upload {
    display: none;
}

#loading-new-map {
    display: none;
    margin-top: 40px;
}

#image-view-tree {
    text-align: right;

}

/* #map-save-modal {
    display: none;
}
*/

#map-name-input {
    display: none;
}

#map-save-modal {
    margin-top: 100px;
}

.map-data-title {
    vertical-align: super;
}

.map-list-image {
    max-width: 200px;
    max-height: 200px;
}

.media-body {
    vertical-align: middle;
}

.border-lightgrey {
    border-color: lightslategray;
}