* {
    /* margin-bot/tom: 20px; */
}

nav {
    align-items: center;
    margin: 0;
    height: 50px;
}

#content {
    max-width: 100%;
    margin: 0 20px;
    margin-top: 40px;
    display: block;
    justify-content: center;
    text-align: center;
}

#home {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
#home-left {
    max-width: 50%;
}
#home-right {
    max-width: 50%;
}

#file-upload {
    display: none;
}

#loading-new-map {
    display: none;
    margin-top: 40px;
}

#image-view-tree {
    text-align: right;

}

#map-name-input {
    display: none;
}

#map-save-modal {
    margin-top: 100px;
}

.map-data-title {
    vertical-align: super;
}

.map-list-image {
    max-width: 128px;
    max-height: 128px;
}

.media-body {
    vertical-align: middle;
}

.border-lightgrey {
    border-color: lightslategray;
    margin: 30px auto;
    padding-right: 30px;
    max-width: 1000px;
}

#back-button {
    padding-top: 10px;
    padding-left: 5px;
    position: fixed;
}
#back-icon {
    background: url(images/back_arrow.svg) no-repeat;
}

#user-maps-list {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}


#generated-image {
    min-width: 100%;
}
#generated-image-containter {
    display: flex;
    justify-content: center;
    max-width: 90%;
}

#card-img {
    min-width: 80%;
}